<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="飲食店向けのポケマルビズβ" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="URL入れる" />
    <meta property="og:image" content="assets/images/fb_ogp.png" />
    <meta property="og:site_name" content="飲食店向けのポケマルビズβ" />
    <meta property="og:description" content="旬の食べ物をそのまま農家漁師から」ポケットマルシェの飲食店向け新サービスです。飲食店の方にも、農家漁師直送の食材を楽しんでいただくための特別なサポートを提供します" />
    <title>ポケマルビズβ</title>
    <link rel="stylesheet" href="assets/css/reset.css" >
    <link rel="stylesheet" href="assets/css/main.css" >
    <link rel="stylesheet" href="assets/css/media.css" >
    <link rel="stylesheet" href="assets/css/vegas.min.css" >
    <!--[if lt IE 9]>
    <script type='text/javascript' src='assets/js/html5shiv.min.js'></script>
    <script type='text/javascript' src='assets/js/respond.min.js'></script>
    <![endif]-->
  </head>
  <body id="top">
    <div id="header"></div>
    <main id="app">
      <div class="hero-block">
        <div class="hero-block__left">
          <div class="hero-block__left--title">
            <h1>飲食店向けの<br>ポケマル<span class="blue">ビズ</span><span class="small">β</span></h1>
            <p>「旬の食べ物をそのまま農家漁師から」ポケットマルシェの飲食店向け新サービスです。</p>
          </div>
        </div>
        <div class="hero-block__right">
          <div id="vegas" class="slides">
          </div>
          <!-- <div class="hero-block__right__image">
          </div> -->
        </div>
      </div>
      <div class="form-block">
        <div class="form-block__inner">
          <p class="form-block__inner--title">ポケマルビズ<span class="small">β</span>に興味のある方はメールアドレスをご登録ください。</p>
          <form class="mail" action="index.html" @submit="checkForm" method="post"　autocomplete="off" novalidate>
            <input type="email" name="email" id="email" v-model="email" v-bind:class="[isActive ? errorClass : '', activeClass]" placeholder="メールアドレス">
            <p v-if="errors.length" class="error-txt" v-cloak>
              <b>*</b>
              <span v-for="error in errors" >{{ error }}</span>
            </p>
            <input type="submit" value="送信"  class="submit">
          </form>
        </div>
      </div>
      <div class="title-block">
        <div class="title-block__left">
          <div class="title-block__left--title">
            <h2 class="">ポケマル<span class="blue">ビズ</span><span class="small">β</span><br>のメリット</h2>
            <p>飲食店の方にも、農家漁師直送の食材を楽しんでいただくための特別なサポートを提供します。</p>
          </div>
        </div>
        <div class="title-block__right">
          <div class="title-block__right__image">
          </div>
        </div>
      </div>
      <div class="content-block">
        <div class="content-block__inner">
          <!-- box -->
          <div class="content-block__inner--box">
            <img src="assets/images/ic_email.svg">
            <h3>飲食店様専用のカスタマーサポート</h3>
            <p>個別のご要望にお応えします</p>
          </div>
          <!-- box -->
          <div class="content-block__inner--box">
            <img src="assets/images/ic_box.svg">
            <h3>食材コンシェルジュ</h3>
            <p>ご希望にあわせて食材選びをお手伝い</p>
          </div>
          <!-- box -->
          <div class="content-block__inner--box">
            <img src="assets/images/ic_Invitation.svg">
            <h3>限定キャンペーンやイベントへのご招待</h3>
            <p>試食セット、生産者ツアーなど</p>
          </div>
          <!-- box -->
          <div class="content-block__inner--box">
            <img src="assets/images/ic_pay.svg">
            <h3>クレジットカード以外のお支払い方法に対応</h3>
            <p>銀行振込などもご相談ください</p>
          </div>
          <!-- box end-->
        </div>
      </div>
      <div class="form-block__ft">
        <div class="form-block__ft__inner">
          <p class="form-block__ft__inner--title">ポケマルビズ<span class="small">β</span>に興味のある方はメールアドレスをご登録ください。</p>
          <form class="mail" action="index.html" @submit="checkForm" method="post"　autocomplete="off" novalidate>
            <input type="email" name="email" id="email" v-model="email" v-bind:class="[isActive ? errorClass : '', activeClass]" placeholder="メールアドレス">
            <p v-if="errors.length" class="error-txt" v-cloak>
              <b>*</b>
              <span v-for="error in errors" >{{ error }}</span>
            </p>
            <input type="submit" value="送信"  class="submit">
          </form>
        </div>
      </div>
    </main>
    <div id="footer"></div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="assets/js/vegas.min.js"></script>
    <script type="text/javascript" src="assets/js/function.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script type="text/javascript" src="assets/js/form_validate.js"></script>
    <script type="text/javascript" src="assets/js/template.js"></script>
  </body>
</html>
