@import "./header.scss";
@import "./footer.scss";
@import "./mixin.scss";
@import "./flexbox.scss";
@import "./form.scss";

body{
  @include font-family("jp");
  overflow-x: hidden;
  overflow-x:hidden; 
}
main{
  .hero-block{
    width: 100%;
    position: relative;
    @include flexbox();
    @include justify-content(space-between);
    &__left{
      position: relative;
      width: 45%;
      left: 0px;
      &--title{
        width: 60%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        height: 200px;
        h1{
          font-size: 3rem;
          line-height: 3.5rem;
          span.blue{
            color: #295F95;
          }
          span.small{
            font-size: 1.5rem;
          }
        }
        p{
          font-size: 0.85rem;
          line-height: 1.6rem;
          margin-top: 20px;
        }
      }
    }
    &__right{
      width: 55%;
      height: 60vh;
      margin-right: -1px;
      .slides{
        height: 60vh;
      }
    }
  }
  .form-block{
    width: 100%;
    position: relative;
    top: -60px;
    &__inner{
      width: 85%;
      height: 220px;
      margin: 0 auto;
      @include vendor-prefix(border-radius,200px);
      background-color:#fff;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 20px 0px;
      text-align: center;
      &--title{
        padding: 45px 0 0 0;
        font-size: 1.6rem;
        span.small{
          font-size: 1.4rem;
        }
      }
    }
  }
  .title-block{
    width: 100%;
    position: relative;
    @include flexbox();
    @include justify-content(space-between);
    &__left{
      position: relative;
      width: 45%;
      left: 0px;
      &--title{
        width: 60%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        height: 150px;
      }
      h2{
        font-size: 3rem;
        line-height: 3.2rem;
        font-weight: normal;
        span.blue{
          color: #295F95;
        }
        span.small{
          font-size: 1.5rem;
        }
      }
      p{
        font-size: 0.85rem;
        line-height: 1.6rem;
        margin-top: 20px;
      }
    }
    &__right{
      width: 55%;
      height: 60vh;
      margin-right: -1px;
      &__image{
        background: url(../images/illust_bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
  .content-block{
    width: 100%;
    margin: 100px 0;
    &__inner{
      width: 80%;
      margin: 0 auto;
      position: relative;
      @include flexbox();
      @include justify-content(space-between);
      &--box{
        width: 22%;
        text-align: center;
        img{
          margin: 0 0 10px 0;
        }
        h3{
          font-size: 1.2rem;
          font-weight: normal;
          margin: 20px 0;
          line-height: 1.5rem;
          height: 40px;
        }
        p{
          font-size: 0.9rem;
          line-height: 1.2rem
        }
      }
    }
  }
  .form-block__ft{
    width: 100%;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 20px 0px;
    padding: 50px 0 80px 0;
    &__inner{
      width: 85%;
      margin: 0 auto;
      border-radius: 200px;
      background-color:#fff;
      text-align: center;
      &--title{
        padding: 45px 0 0 0;
        font-size: 1.8rem;
        span.small{
          font-size: 1.4rem;
        }
      }
    }
  }
}
