@charset "UTF-8";
.site-header {
  height: 80px;
  width: 100%;
  background: #fff;
  border-bottom: solid 1px #F2F2F2;
  position: relative;
  z-index: 999; }
.site-header__inner {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    padding: 22px 20px; }
.site-header__inner__logo {
      background-image: url(../images/logo_mark+txt.svg);
      background-repeat: no-repeat;
      text-indent: -9999px;
      height: 32px;
      width: 162px;
      display: block;
      margin-left: 10px; }
.site-header__inner__title {
      font-size: 0.7rem;
      margin-left: 20px; }
.site-header__link {
    position: absolute;
    right: 30px;
    top: 32px;
    font-size: 1rem;
    color: #232323;
    text-decoration: none;
    font-weight: bold; }
.site-header__link:hover, .site-header__link:active, .site-header__link:focus {
      color: #232323; }
.site-header__link:visited {
      color: #232323;
      text-decoration: underline; }
.site-header__link:hover {
      color: #276ef1; }
@media screen and (max-width: 894px) {
  .site-header {
    height: 60px; }
    .site-header__inner {
      padding: 15px 20px; }
      .site-header__inner__logo {
        margin-left: 0px; }
      .site-header__inner__title {
        display: none; }
    .site-header__link {
      font-size: 0.8rem;
      top: 25px;
      right: 20px; } }
footer {
  width: 100%;
  background: #000;
  padding: 80px 0; }
footer .footer-inner {
    width: 90%;
    margin: 0 auto; }
footer .footer-inner__social {
      width: 80%;
      text-align: center;
      margin: 0 auto 20px auto; }
footer .footer-inner__social li {
        display: inline-block;
        margin: 0 10px; }
footer .footer-inner__social li a {
          display: block;
          text-indent: -9999px; }
footer .footer-inner__social li .tw {
          background: url(../images/social/ic_tw.svg);
          background-repeat: no-repeat;
          background-position: center;
          width: 20px;
          height: 20px; }
footer .footer-inner__social li .insta {
          background: url(../images/social/ic_insta.svg);
          background-repeat: no-repeat;
          background-position: center;
          width: 20px;
          height: 20px; }
footer .footer-inner__social li .fb {
          background: url(../images/social/ic_fb.svg);
          background-repeat: no-repeat;
          background-position: center;
          width: 20px;
          height: 20px; }
footer .footer-inner__menu {
      width: 100%;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 20px; }
footer .footer-inner__menu li {
        display: inline;
        margin: 0 10px; }
footer .footer-inner__menu li a {
          color: #828282;
          font-size: 0.8rem;
          text-decoration: none; }
footer .footer-inner--copy {
      color: #fff;
      font-size: 0.8rem;
      text-align: center; }
.form-block__inner .mail, .form-block__ft__inner .mail {
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
  position: relative; }
.form-block__inner .mail input.email, .form-block__ft__inner .mail input.email {
    border: solid 1px #d4d4d4;
    padding: 14px;
    width: 60%;
    font-size: 1.2rem;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    margin-right: 10px; }
.form-block__inner .mail input.email:focus, .form-block__ft__inner .mail input.email:focus {
    outline: solid 1px #9c9c9c; }
.form-block__inner .mail input.error, .form-block__ft__inner .mail input.error {
    border: solid 1px red; }
.form-block__inner .mail input.submit, .form-block__ft__inner .mail input.submit {
    width: 30%;
    background-color: #000;
    color: white;
    padding: 12px 20px;
    border: none;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    font-size: 1.2rem;
    cursor: pointer; }
.form-block__inner .mail input.submit:hover, .form-block__ft__inner .mail input.submit:hover {
    background-color: #276EF1; }
.form-block__inner .mail .error-txt, .form-block__ft__inner .mail .error-txt {
    position: absolute;
    text-align: left;
    font-size: 12px;
    color: #ff6787;
    bottom: -20px;
    left: 30px; }
body {
  font-family: "SF Pro JP", "SF Pro Display", "SF Pro Icons", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  overflow-x: hidden; }
main .hero-block {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between; }
main .hero-block__left {
    position: relative;
    width: 45%;
    left: 0px; }
main .hero-block__left--title {
      width: 60%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      height: 200px; }
main .hero-block__left--title h1 {
        font-size: 3rem;
        line-height: 3.5rem; }
main .hero-block__left--title h1 span.blue {
          color: #295F95; }
main .hero-block__left--title h1 span.small {
          font-size: 1.5rem; }
main .hero-block__left--title p {
        font-size: 0.85rem;
        line-height: 1.6rem;
        margin-top: 20px; }
main .hero-block__right {
    width: 55%;
    height: 60vh;
    margin-right: -1px; }
main .hero-block__right .slides {
      height: 60vh; }
main .form-block {
  width: 100%;
  position: relative;
  top: -60px; }
main .form-block__inner {
    width: 85%;
    height: 220px;
    margin: 0 auto;
    -webkit-border-radius: 200px;
    -ms-border-radius: 200px;
    -moz-border-radius: 200px;
    -o-border-radius: 200px;
    border-radius: 200px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 20px 0px;
    text-align: center; }
main .form-block__inner--title {
      padding: 45px 0 0 0;
      font-size: 1.6rem; }
main .form-block__inner--title span.small {
        font-size: 1.4rem; }
main .title-block {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between; }
main .title-block__left {
    position: relative;
    width: 45%;
    left: 0px; }
main .title-block__left--title {
      width: 60%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      height: 150px; }
main .title-block__left h2 {
      font-size: 3rem;
      line-height: 3.2rem;
      font-weight: normal; }
main .title-block__left h2 span.blue {
        color: #295F95; }
main .title-block__left h2 span.small {
        font-size: 1.5rem; }
main .title-block__left p {
      font-size: 0.85rem;
      line-height: 1.6rem;
      margin-top: 20px; }
main .title-block__right {
    width: 55%;
    height: 60vh;
    margin-right: -1px; }
main .title-block__right__image {
      background: url(../images/illust_bg.png);
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 100%; }
main .content-block {
  width: 100%;
  margin: 100px 0; }
main .content-block__inner {
    width: 80%;
    margin: 0 auto;
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between; }
main .content-block__inner--box {
      width: 22%;
      text-align: center; }
main .content-block__inner--box img {
        margin: 0 0 10px 0; }
main .content-block__inner--box h3 {
        font-size: 1.2rem;
        font-weight: normal;
        margin: 20px 0;
        line-height: 1.5rem;
        height: 40px; }
main .content-block__inner--box p {
        font-size: 0.9rem;
        line-height: 1.2rem; }
main .form-block__ft {
  width: 100%;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 20px 0px;
  padding: 50px 0 80px 0; }
main .form-block__ft__inner {
    width: 85%;
    margin: 0 auto;
    border-radius: 200px;
    background-color: #fff;
    text-align: center; }
main .form-block__ft__inner--title {
      padding: 45px 0 0 0;
      font-size: 1.8rem; }
main .form-block__ft__inner--title span.small {
        font-size: 1.4rem; }
